# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [3]:
import numpy as np

2. Create a null vector of size 10

In [5]:

a = np.zeros(10)
print (a)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

3. Create a vector with values ranging from 10 to 49

In [7]:
b = np.arange(10,50)
print(b)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

4. Find the shape of previous array in question 3

In [9]:
c= np.shape(b)
print(c)

(40,)

5. Print the type of the previous array in question 3

In [125]:
b = np.arange(10,50)
b.dtype

dtype('int32')

6. Print the numpy version and the configuration

In [126]:
print(np.version)
print(np.show_config())

<module 'numpy.version' from 'C:\\Users\\HP\\anaconda3\\lib\\site-packages\\numpy\\version.py'>
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/HP/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/HP/anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/HP/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/HP/anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/HP/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/HP/anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/HP/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/HP/anaconda3\\Library\\include']
None

7. Print the dimension of the array in question 3

In [11]:
k=np.ndim(b)
print(k)

1

8. Create a boolean array with all the True values

In [15]:
q=np.ones(10, dtype=bool)
print(q)

[ True  True  True  True  True  True  True  True  True  True]

9. Create a two dimensional array

In [18]:
f=b.reshape(20,2)
print(f)

[[10 11]
 [12 13]
 [14 15]
 [16 17]
 [18 19]
 [20 21]
 [22 23]
 [24 25]
 [26 27]
 [28 29]
 [30 31]
 [32 33]
 [34 35]
 [36 37]
 [38 39]
 [40 41]
 [42 43]
 [44 45]
 [46 47]
 [48 49]]

10. Create a three dimensional array

In [20]:
u= b.reshape(4,2,5)
print(u)

[[[10 11 12 13 14]
  [15 16 17 18 19]]

 [[20 21 22 23 24]
  [25 26 27 28 29]]

 [[30 31 32 33 34]
  [35 36 37 38 39]]

 [[40 41 42 43 44]
  [45 46 47 48 49]]]

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [22]:
arr= np.arange(1,10)
print('orignal array', arr)
arr1=arr[::-1]
print("reversed",arr1)

orignal array [1 2 3 4 5 6 7 8 9]
reversed [9 8 7 6 5 4 3 2 1]

12. Create a null vector of size 10 but the fifth value which is 1

In [23]:
e=np.zeros(10)
e[4]=1
print(e)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

13. Create a 3x3 identity matrix

In [26]:
identity=np.identity(3)
print(identity)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [28]:
arr = np.array([1,2,3,4,5], dtype = float)
print(arr)

[1. 2. 3. 4. 5.]

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [30]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])

print(arr1*arr2)

[[ 0.  8.  3.]
 [28. 10. 72.]]

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

17. Extract all odd numbers from arr with values(0-9)

In [31]:
arr7=np.arange(0,10)
arr8=arr7[arr7%2==1]
print(arr8)

[1 3 5 7 9]

18. Replace all odd numbers to -1 from previous array

In [32]:
arr7=np.arange(0,10)
arr7[arr7%2==1]=-1
print(arr7)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [35]:
arr = np.arange(10)
arr[5:9]=12
print(arr)

[ 0  1  2  3  4 12 12 12 12  9]

20. Create a 2d array with 1 on the border and 0 inside

In [37]:
x = np.ones((4,4))
print("Original array:")
print(x)
print("1 on the border and 0 inside in the array")
x[1:-1,1:-1] = 0
print(x)

Original array:
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
1 on the border and 0 inside in the array
[[1. 1. 1. 1.]
 [1. 0. 0. 1.]
 [1. 0. 0. 1.]
 [1. 1. 1. 1.]]

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [41]:
arr2d = np.array([[1, 2, 3],[4, 5, 6],  [7, 8, 9]])
arr2d[1,1]=12
print(arr2d)

[[ 1  2  3]
 [ 4 12  6]
 [ 7  8  9]]

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [43]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

arr3d[0,0]=64
print(arr3d)

[[[64 64 64]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [52]:
arr2D=np.arange(0,10).reshape(5,2)
print(arr2D[0:1,0:2])

[[0 1]]

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [55]:
arr2D=np.arange(0,10).reshape(5,2)
print(arr2D[1:2,1:2])

[[3]]

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [56]:
arr2D=np.arange(0,10).reshape(5,2)
print(arr2D[1:2,1:2])
print(arr2D)

[[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

26. Create a 10x10 array with random values and find the minimum and maximum values

In [63]:
arr9=np.random.random((10,10))
print("orignal matrix",arr9)
minval,maxval = arr9.min() , arr9.max()
print("maximum and minimum value",minval,maxval)

orignal matrix [[2.45789976e-01 7.37384548e-01 6.01470512e-01 2.03639350e-01
  6.90890328e-01 6.88873018e-01 7.66711998e-01 9.99783370e-01
  1.87478093e-01 4.46914346e-01]
 [1.19050655e-01 8.30050336e-01 6.75733309e-01 6.31296420e-01
  1.75989480e-01 8.26768146e-01 7.65215820e-01 3.35156101e-01
  5.34611592e-02 9.87450189e-01]
 [1.40486273e-01 7.57039486e-01 5.66657655e-02 7.41737106e-02
  3.52279253e-01 7.86365190e-01 5.71877068e-01 5.47242197e-01
  7.29155873e-01 2.78373786e-02]
 [4.35747808e-01 9.48574884e-01 4.44421792e-01 6.23220601e-01
  7.67832830e-01 6.75652846e-01 8.66208029e-01 1.42636531e-01
  4.42325166e-01 7.36536555e-02]
 [2.05641160e-01 7.36658097e-01 5.44902119e-01 2.35193108e-01
  8.10351985e-02 2.85204418e-01 4.28576956e-01 6.66719165e-01
  8.58735664e-01 1.01875614e-01]
 [4.29881037e-01 3.67180355e-01 2.60294320e-01 1.06859749e-01
  9.18669154e-01 4.62167190e-01 8.19022513e-02 1.35157363e-01
  4.78384168e-01 3.85382081e-01]
 [3.86018226e-01 9.99454206e-01 4.33343553e-01 7.24596183e-01
  6.68027402e-01 5.35114600e-01 8.51681532e-01 6.03068127e-01
  6.20182349e-01 9.45520977e-01]
 [8.08629462e-01 2.44143645e-01 8.74247836e-01 1.53914309e-01
  3.57593222e-01 9.64617726e-01 9.41810515e-01 5.33275088e-01
  1.23432604e-01 7.26831317e-01]
 [2.36867832e-01 2.89141057e-01 9.07621237e-01 4.25063493e-01
  3.85108232e-01 7.11638425e-01 3.47405397e-01 3.08389404e-01
  1.95532789e-01 5.17618949e-01]
 [8.56069926e-01 9.65766861e-01 6.49247300e-01 9.40260013e-01
  5.30965726e-05 3.62027706e-01 6.38422942e-01 5.49898591e-01
  2.02346785e-01 4.50976721e-01]]
maximum and minimum value 5.3096572636301964e-05 0.9997833700935717

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [65]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
common = np.intersect1d(a,b)
print(common)

[2 4]

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [68]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
match = np.where(a==b)
print(match)

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [70]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  
data = np.random.randn(7, 4)
NO_match = np.where(names!=data)
print(NO_match)

(array([0], dtype=int64),)

<ipython-input-70-c1bcbc1254d8>:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  NO_match = np.where(names!=data)

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [78]:
array1=np.arange(1,16).reshape(5,3)
array2=array1.astype('float64')
print(array2)

[[ 1.  2.  3.]
 [ 4.  5.  6.]
 [ 7.  8.  9.]
 [10. 11. 12.]
 [13. 14. 15.]]

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [79]:
array1=np.arange(1,17).reshape(2,2,4)
array2=array1.astype('float64')
print(array2)

[[[ 1.  2.  3.  4.]
  [ 5.  6.  7.  8.]]

 [[ 9. 10. 11. 12.]
  [13. 14. 15. 16.]]]

33. Swap axes of the array you created in Question 32

In [81]:
array1=np.arange(1,17).reshape(2,2,4)
array2=array1.astype('float64')
array3 = array2.swapaxes(1,2)
print(array3)

[[[ 1.  5.]
  [ 2.  6.]
  [ 3.  7.]
  [ 4.  8.]]

 [[ 9. 13.]
  [10. 14.]
  [11. 15.]
  [12. 16.]]]

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [89]:
m=np.arange(0,10)
sqroot=np.sqrt(m)
sqroot[sqroot<=0.5]=0
print(sqroot)

[0.         1.         1.41421356 1.73205081 2.         2.23606798
 2.44948974 2.64575131 2.82842712 3.        ]

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [91]:
arr10=np.random.random((12))
arr11=np.random.random((12))

minval,maxval = arr10.max() , arr11.max()
print("maximum and minimum value",[minval,maxval])

maximum and minimum value [0.8999800820162794, 0.8559341909067847]

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [107]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
qes=np.unique(names)
print(qes)
print(np.sort(qes))

['Bob' 'Joe' 'Will']
['Bob' 'Joe' 'Will']

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [108]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

c=np.setdiff1d(a,b)
print(c)

[1 2 3 4]

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [114]:
Array = np.array([[34,43,73],[82,22,12],[53,94,66]])
delarr=(np.delete(Array,2,1))
newColumn=np.array([[10,10,10]])
Array_insert=np.insert(delarr,2, newColumn, axis=1)
print(Array_insert)

[[34 43 10]
 [82 22 10]
 [53 94 10]]

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [116]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])
z= np.dot(x,y)
print(z)

[[ 28.  64.]
 [ 67. 181.]]

40. Generate a matrix of 20 random values and find its cumulative sum

In [120]:
matrix=np.random.random(20)
print(matrix.cumsum())

[0.66879292 1.44196032 2.36751492 2.55569947 2.7828311  3.68536542
 3.82113581 3.97513383 4.5099731  4.78264037 4.80297579 5.02614046
 5.96072788 6.262616   6.70267638 6.85891364 7.68337948 8.38476991
 8.57952772 9.34652381]